@import 'tailwindcss';
@import 'tailwindcss-primeui';

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('/fonts/BricolageGrotesque.ttf');
  font-style: auto;
}

:root {
  font-size: 14px;
  @apply bg-gray-50;
}

body {
  font-family: 'BricolageGrotesque', sans-serif;
  font-size: 1rem;
  background-blend-mode: overlay;
  background-size: cover;
  background:
    radial-gradient(ellipse at bottom, rgba(255, 250, 250, 0.84), rgba(234, 255, 241, 0.48)),
    url('/images/background.svg') repeat;
  @apply text-gray-600 tracking-[0.02rem] accent-teal-600;
}

/* input {
  @apply drop-shadow-xs bg-white placeholder:text-gray-300 border border-gray-200 rounded-md py-1.5 px-4 focus:outline focus:outline-offset-1 focus:outline-teal-600;
}

button {
  @apply font-medium cursor-pointer focus:outline focus:outline-offset-2 rounded-md  focus:outline-teal-600 py-2.5 px-6;
} */
